/*
*{
    background-color: antiquewhite;
}*/
.button{
    background-color: mintcream;
}
.enterDate{
    background-color: mint cream;
}
.ramos{
    background-color: #fddada;
}
.FDC{
    background-color: #fde4c5;
}
.Baf{
    background-color: #fbfcd0;
}
.Jurkat{
    background-color: #defed8;
}
.Nb2-11{
    background-color: #ccf7fb;
}
.U937{
    background-color: #cadefe;
}